<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/build/css/main.css" />
    <script src="/public/build/icons/feather.min.js"></script>
  </head>

  <body>
    <div class="wrapper">