<table class="inkooptable">
  <thead>
    <tr>
      <th>Prijs</th>
      <th>Leverancier</th>
      <th>Bestelcode</th>
      <th>Aantal</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% fabrikanten.forEach(fabrikant => { %>
    <tr data-productid="<%= product.idProduct -%>">
      <td><%= fabrikant.Prijs -%></td>
      <td><%= fabrikant.Bedrijfsnaam -%></td>
      <td><%= fabrikant.Bestelcode -%></td>
      <td><input type="number" name="amount[]" min="1" max="100000" required></td>
      <td><button class="button">Kopen</button></td>
    </tr>
    <% }); %>
  </tbody>
</table>