<% data.menu.forEach(menuitem => { %>
  <li <% if (title == menuitem.title) { %>class="active"<% } %>>
    <a href="<%- menuitem.href %>"><i data-feather="<%- menuitem.icon %>"></i><%= menuitem.title %></a>
  </li>
<% }); %>