<aside class="sidebar">
    <div class="header">
        <div class="profilepicture"></div>
        <div class="profileswitcher">
          <a href="#" class="curprofile">Martha de Vries<i data-feather="chevron-down"></i></a>
        </div>
    </div>
    <div class="sidebarcontent">
        <nav>
          <ul class="sidebarmenu">
            <%- include('menu') %>
          </ul>
        </nav>
    </div>
</aside>