<aside class="sidebar">
  <div class="header">
    <div class="profilepicture"></div>
    <div class="profileswitcher">
      <a href="#" class="curprofile"><%= curmedewerker.Voornaam %> <%= curmedewerker.Achternaam %><i data-feather="chevron-down"></i></a>
    </div>
  </div>
  <div class="sidebarcontent">
    <nav>
      <ul class="sidebarmenu">
        <%- include('menu') %>
      </ul>
    </nav>
  </div>
  <div class="bottom-icons">
    <i data-feather="sidebar" class="sidebartoggle"></i>
  </div>
</aside>