<aside class="sidebar">
  <div class="header">
    <div class="profilepicture"></div>
    <div class="profileswitcher">
      <a href="#" class="curprofile"><%= data.curmedewerker.Voornaam %> <%= data.curmedewerker.Achternaam %><i data-feather="user-x" class="logout"></i></a>
    </div>
  </div>
  <div class="sidebarscroll">
    <div class="sidebarcontent">
      <nav>
        <ul class="sidebarmenu">
          <%- include('menu') %>
        </ul>
      </nav>
    </div>
    <div class="bottom-icons">
      <i data-feather="sidebar" class="sidebartoggle"></i>
    </div>
  </div>
</aside>