// Browser styling reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Basic timaflu styling
body {
  font-family: $body-font;
  color: $body-font-color;
  background-color: $light-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  color: $brand-primary;
}

h1 {
  font-size: 24px;
  line-height: 30px;
}

a {
  color: inherit;
}

.feather {
  vertical-align: middle;
}

table {
  min-width: 100%;
  font-size: 16px;

  @media (max-width: 576px) {
    font-size: 12px;
  }

  tr {
    td,
    th {
      padding: 15px 10px;
      white-space: nowrap;
      text-align: left;
    }
  }

  thead {
    background-color: $dark-bg;
    color: $brand-primary;
    font-weight: 700;
  }

  tbody {
    text-transform: capitalize;

    tr {
      cursor: pointer;

      &:nth-child(odd) {
        background-color: rgba($light-bg, 0.5);
      }

      &:hover {
        background-color: $brand-primary !important;
      }
    }
  }
}
