@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

// Colors
$brand-primary: #46ccd6;
$brand-secondary: #7c7c7c;
$brand-tertiary: #92dce5;
$dark-bg: #383d3b;
$light-bg: #eee5e9;
$body-font-color: #333;

// Fonts
$header-font: "Lato", sans-serif;
$body-font: "Open Sans", sans-serif;
$sidebar-font: "Roboto Mono", monospace;

// Spacing
$sidebar-spacing: 24px;
$icon-spacing: 6px;
