@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

// Colors
$brand-primary: #46CCD6;
$brand-secondary: #7C7C7C;
$brand-tertiary: #92DCE5;
$dark-bg: #383D3B;
$light-bg: #EEE5E9;
$body-font-color: #333;

// Fonts
$header-font: "Lato", sans-serif;
$body-font: "Open Sans", sans-serif;