@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$header-font: "Lato", sans-serif;
$header-font-color: #0d4671;
$body-font: "Open Sans", sans-serif;
$body-font-color: #333;
