<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="public/css/main.css">

</head>

<body>
    <nav class="navbar">


    </nav>


    <p>ff testen<button class="button">yeet</button><a class="button">yeet2</a></p>
    <p>Hieronder komt ejs data</p>

    <% if (typeof info != 'undefined') { %>
        <h2><%= info.text %></h2>
    <% } %>

  <script src="public/js/main.js"></script>
</body>
</html>