<%- include('partials/head.ejs') -%>

<div class="sidebar">
  <div class="header">
    <div class="profilepicture"></div>
  </div>
  <div class="headercontent"></div>
</div>

<main></main>

<%- include('partials/foot.ejs') -%>
