<%- include('partials/head.ejs') -%>

<%- include('partials/sidebar.ejs') -%>

<main>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="scroll">
          <%- include('partials/producttable.ejs') -%>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/foot.ejs') -%>
